
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');


body {
    font-family: 'Merienda', cursive;    
    background-color:#e9ecef94; 
}

/***--- Navbar --**/

.navbar {
    margin-bottom: 10px;
    border: 0;
    padding: 0;  
}

.navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 0 ;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
}

.bg-navbar {
    background-color: white;
}

.nav-link {
    font-size: 20px;
 } 

.nav-header {
    padding: 0px;    
    margin-bottom: 30px;
}

.my-nav .dropdown-menu .swimming {
    color: #bd2130;
}

.my-nav .dropdown-menu .classroom {
    color: #d39e00;
}

.my-nav .dropdown-menu .ballgames {
    color: #007bff;
}

.navbar-nav .dropdown-menu {    
    background-color: #e9ecef94;
}

/*---home page --*/

.welcome {
    margin-bottom: 30px;
}

.angel{
    color: blue;
}

.haven {
    color: red;
}

h4 {   
    padding-bottom: 50px;
}

/*---Carousel --*/

#carousel-classes {
    margin-bottom: 50px;
}

#carousel-classes1 {
    margin-bottom: 50px;
}

#carousel-classes2 {
    margin-bottom: 50px;
}

/*----Swimming Class---**/

h2 {
    color: #dc3545c4;
}

#swimming-class {
    line-height: 20px;
}

/*--- Our story --*/

#ourstory {
    background-color: #ffff0047;    
    width: 90%;
    border-radius: 30px;
}

#overview {
    background-color: lightblue;
    width: 90%;
    border-radius: 30px;
}

hr {
    border-top: 0px;
}

/*-------block divider------*/

.block-divider {
    width: 300px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--blue {
    background-color: #0062cc9e;
}

.block-divider--red {
    background-color: #dc3545c4;
}

.block-divider--yellow {
    background-color: #ffff00d6;
}

/*---- Team --**/

.card {
    border: 0px;    
}
.card-deck, .mx-auto {
    width: 100%;
}

.card-body {
    padding: 0px;
    letter-spacing: 4px;
}


.card-deck .card {  
    margin-right: 60px;
    margin-bottom: 50px;
    margin-left: 60px;    
}

.card-img-top {
    max-width: 100%;
    flex-shrink: 0;
    width: 70%;
}

.card-deck .card .card-body p {
    font-size: 15px;
}
.swimming-teacher {
    color:black;
    background-color: #e9ecef94;
}


.classroom-teacher {
   color: black; 
   background-color: #e9ecef94;
}

.ballgame-teacher {
    color: black;
    background-color: #e9ecef94;
}
/**--Footer -**/

footer {
    color: #dc3545;
    background-color: #e9ecef94;
    position: relative;    
}

.footer-about span {
    color: blue;
}

.footer-section {   
    border: 0px;
    text-align: center;
}

.footer-section h5 span {
    color: blue;
}

.footer-section .socials {
    text-align: center;
}

.footer-text {
    color: black;
    margin-bottom: 0px;
}

.contact {
    color: blue;
}

 .socials span {
    color: blue;
}
.socials a {
    font-size: 30px;
}

.instagram {
    color: red;
}