@import url('https://fonts.googleapis.com/css?family=Lato:400i&display=swap');

body {
    font-family: 'Lato', sans-serif;      
    background-color:#e9ecef94;
  
}

/***--- Navbar --**/

.navbar {
    margin: 0px;    
    border: 0;
    padding: 0;  
}

.navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 0 ;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
}

.bg-navbar {
    background-color: white;
}

.nav-link {
    font-size: 20px;
 } 

.col-12.nav-header {
    padding: 0px;
    
}

.my-nav .dropdown-menu .swimming {
    color: #bd2130;
}

.my-nav .dropdown-menu .classroom {
    color: #d39e00;
}

.my-nav .dropdown-menu .ballgames {
    color: #007bff;
}

.navbar-nav .dropdown-menu {    
    background-color: #e9ecef94;
}

/*---baby images --*/



/*--- Our story --*/

#ourstory {
    background-color: #ffff0047;    
     width: 90%;
    border-radius: 30px;
}

/*-------block divider------*/

.block-divider {
    width: 300px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--blue {
    background-color: #0062cc9e;
}

.block-divider--red {
    background-color: #dc3545c4;
}

.block-divider--yellow {
    background-color: #ffff00d6;
}

/*---- Team --**/

.card-deck, .mx-auto {
    width: 70%;
}

/**--Footer -**/


.socials {
    text-align: center;  
    background-color: #e9ecef94;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 50px;
    margin: 10px;
    padding: 10px;       
    color: #bd2130;
}

.fa-facebook:before {    
    color: blue;
}